* {
    /* background-color: green; */
    /* display: none; */
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 60px; */
}

.header{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding-left: 81px;
    padding-right: 81px;
    color: black;
    /* margin-bottom: 20px; */
    height: 80px;
}



.dark-mode .header {
  /* Dark theme styles */
  background-color: yellow;
}


.themeSwitch{
    /* background-color: yellow; */
    height: 22px;
    position: relative;
    top:28px;
    align-items: center;
}


.main-card{
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    height: 1000px;
    
}

.dark-mode .main-card {
  /* Dark theme styles */
  background-color: #202C36;
}

.search-icon{
    max-width: 74px;
}

.dropdown{
    position: relative;
    left: 91.3%;
    top: -24px;
    width: 200px;
height: 56px;
flex-shrink: 0;
position: relative;
top: -58.4px;
left: 76.5em;
border-radius: 8px;
background-color: white;
}

.dark-mode .dropdown{
  /* Dark theme styles */
background: #2B3844;
  color: white;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

}

select:focus {
  outline: none;
}


#region-select{
    width: 200px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
border: none;

}

.dark-mode #region-select{
   
background: yellow;


}

.region-dropdown{
    /* display: none; */
    width: 200px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
border: none;
}

.dark-mode .region-dropdown{
    border-radius: 5px;
background: #2B3844;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
color:#FAFAFA;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  /* margin-top: 20px; */
  position: relative;
  top: 40px;
}




.search-icon{
     width: 480px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}


.dark-mode .search-icon{
border-radius: 5px;
background: #2B3844;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05); 
}


.countrySearch{
     width: 480px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
border: none;
background: #FFF;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
position: relative;
right: 23.5%;
}

.dark-mode .countrySearch{
border-radius: 5px;
background: #2B3844;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05); 
color: yellow;
}


input:focus {
  outline: none;
}


.Main-div{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  background: #FAFAFA;
  border-radius: 8px;
}

.dark-mode .Main-div{
    background: #202C36;
}

.div-main{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.dark-mode .div-main{
    border-radius: 5px;
background: #2B3844;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
color: #FAFAFA;
}

.country-card {
  width: 100%;
  height: 336px;
  margin-bottom: 20px;
  border-radius: 8px;
}


.dark-mode .country-card{
    border-radius: 5px;
background: #2B3844;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
color: #FAFAFA;
}


.main-card{
    background-color: #FAFAFA;
}

.dark-mode *{
text-decoration: none;
color: white;
}

 *{
text-decoration: none;
color: black;
}

.countryName{
    color: #111517;
font-size: 18px;
/* font-family: Nunito Sans; */
font-style: normal;
font-weight: 800;
line-height: 26px;
text-decoration: none !important;
}

.population {
    text-decoration: none !important;
    /* color: red; */
    display: flex;
  align-items: center;
  color: #111517;
font-size: 14px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
line-height: 16px;
}
#population-left {
  margin-left: 35px;
}

.region{
    color: black;
    display: flex;
  align-items: center;
  color: #111517;
font-size: 14px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
line-height: 16px;
}
#region-left {
  margin-left: 35px;
}

.capital {
  display: flex;
  align-items: center;
  color: #fafafa;
font-size: 14px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
line-height: 16px;
}

#capital-left {
  margin-left: 35px;
}


#capital-right, #region-right, #population-right{
  font-weight: 300;
      text-decoration: none !important;

}





